{% extends 'base.html.twig' %}

{% block title %}{{ status_code }} - {{ status_text }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h1 class="display-1">{{ status_code }}</h1>
                <h2 class="mb-4">{{ status_text }}</h2>
                <a href="{{ path('weather_index') }}" class="btn btn-primary mt-3">Go to Homepage</a>
            </div>
        </div>
    </div>
{% endblock %}
